@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

header{
display: flex;
flex-direction: row;

background-color: rgba(0, 255, 55, 0.658);
align-items: center;
padding: 0 100px;
height: 70px;
}

h1{
    font-size: 45px;
    padding-left: 680px;
}


.agregar{
    height: 50px;
    cursor: pointer;
}

h3{
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}


#enlaces {
    background-color: rgba(0, 255, 55, 0.658);
    margin-top: -18px;
    padding: 8px;
    text-align: center;
    width: 105%;
    color: black;
}

#enlaces a {
    text-decoration: none;
    padding: 8px 40px;
    border: 1px solid white;
}

a{
    color: black;
}