<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estiloCliente.css">
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Raleway&display=swap');
    </style>
    <title>TIENDA FGJS</title>
</head>

<body>
    <header>
        <div class="agregar_cliente">
          <a href="registrar">
            <img src="static/images/agregar.png" alt="" class="agregar" />
          </a>
        </div>
        <h1>TIENDA_FGJS</h1>
    </header>
      <div class="clear"></div>
      <br>  
    <div id="enlaces">
        <a href="pago">Pago Empleados</a>
        <a href="gestionar_empleados">Empleados</a> 

    </div>

    <div class="titulo">
        CLIENTES
    </div>
    <form id="loginform" action='/valida_usuarios' method='POST'>
        <form>
            <div class="campos">
                <div class="campo_buscar">
                    <div>
                        <button type="submit" title="Buscar" name="buscar"><img src="static/images/lupa.png" class="lupa"></button>
                    </div>
                    <div>
                        {% if usuario!=undefined %}
                        <input type="text" id="documento" name="documento" value="{{ usuario.documento }}"
                            placeholder="Documento" required>
                        {% else %}
                        <input type="text" id="documento" name="documento" placeholder="Documento" required>
                        {% endif %}
                    </div> 
                </div>
                <div class="camposCentrales">
                    <div class="cuadro">
                        {% if usuario!=undefined %}
                        <label for="valor">Nombre: </label>
                        <input type="text" id="nombre" name="nombre" value="{{ usuario.nombre }}" placeholder="">
                        {% else %}
                        <input type="text" id="nombre" name="nombre" placeholder="">
                        {% endif %}
                    </div>
                    <div class="cuadro">
                        {% if usuario!=undefined %}
                        <label for="valor">Telefono: </label>
                        <input type="text" id="telefono" name="telefono" value="{{ usuario.telefono }}"
                            placeholder="">
                        {% else %}
                        <label for="valor">Telefono: </label>
                        <input type="text" id="telefono" name="telefono" placeholder="Telefono">
                        {% endif %}

                    </div>
                    <div class="cuadro">
                        {% if usuario!=undefined %}
                        <label for="valor">Valor que debe: </label>
                        <input type="text" id="valor" name="valor" value="{{ usuario.valor }}" placeholder="">
                        {% else %}
                        <label for="valor">Valor que debe: </label>
                        <input type="text" id="valor" name="valor" placeholder="Valor que debe">
                        {% endif %}
                    </div>
                </div>
                
                <div class="botones_gestion">
                    <div>
                        <td> <button type="submit" title="Actualizar" name="actualizar" class="botact">Actualizar</button></td>
                    </div>
                    <div>
                        <td> <button type="submit" title="Eliminar" name="eliminar" class="botel">Eliminar</button></td>
                    </div>

                </div>
            </div>
        </form>
    </form>

    <div id="contenedor">
        <div id="centralForm">
            <div id="tabla_sola">

                {% if data!=undefined %}
                <h3>Clientes registrados</h3>
                <table>
                    <tr>
                        {% for titulo in titulos_tabla %}
                        <th>{{titulo}}</th>
                        {%endfor%}
                    </tr>
                    {% for filas in data %}
                    <tr>
                        {% for i in range(filas|length) %}
                        {% if i!=4 %}
                        <td>{{filas[i]}}</td>
                        {%endif%}
                        {%endfor%}
                    </tr>
                    {%endfor%}
                </table>
                {%else%}
                <h3>Por favor, diligencie el formulario</h3>
                {%endif%}

            </div>
        </div>
    </div>
</body>

</html>