<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">

    <title>TIENDA FGJS</title>
</head>

<body>
    <header>
        <div class="agregar_cliente">
          <a href="registrar">
            <img src="static/images/agregar.png" alt="" class="agregar" />
          </a>
        </div>
        <h1>TIENDA_FGJS</h1>
  
      </header>
    <div class="clear"></div>
    <br>

    <div id="enlaces">
       
        <a href="pago">Pago Empleados</a>
        <a href="gestionar_empleados">Empleados</a>

        
    </div>
    <section>
        <div id="contenedor">
            <div id="centralForm">
                <div id="formulario">
                    <div class="titulo">
                        <h2>Bienvenido al Sistema</h2>
                    </div>
                    <div class="titulo">
                        Navegue desde el menú superior
                    </div>

                </div>
            </div>
        </div>
    </section>

</body>

</html>